<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/assets/feeda.css">
</head>
<body>
    <%- include('partial/header.ejs') -%>
    <div class="feed-wrap">
        <div class="feeds">
            <div class="feed-side-bar">
                <strong class="title">
                    Pay Saint
                </strong>
            </div>

            <div class="feed-main-contents">
                <div class="feed-main-content-top">
                    <span class="time">3 mins ago</span>
                    <span class="view">6k views</span>
                </div>

                <div class="feed-text-contents">
                    <p>Today's aloms are on different rang, you can't figure them outta salt.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>