<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Middo</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
       
    </style>
</head>
<body>
    <div class="header">
        <div class="header-top">
            <div class="logo-area">
                <a href="#">Middo</a>
            </div>
            <ul>
                <li><a href="#">Products</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="/register">Login</a></li>
                <li><a class="donorBtn" href="#">Donations</a></li>
            </ul>

            <div class="menuIcon" id="toggleNav">
                <div class="lines"></div>
                <div class="lines"></div>
                <div class="lines"></div>
            </div>
        </div>

        <div class="header-mini-top">
            <div class="logo-area">
                <a href="#">Middos</a>
            </div>
            <ul>
                <li><a href="#">Products</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Education</a></li>
                <li><a href="/register">Login</a></li>
                <li><a class="donorBtn" href="#">Donations <i class="fa fa-twitter"></i> </a></li>
            </ul>
        </div>

        <div class="header-contents">
            <div class="left">
                <h2 class="title">Middo| Hybrid-Softwares API<span style="text-transform: lowercase;">s</span></h2>
                <p>Meet your needs today</p>
                <p>This application is design to provide web pages components from basic to most complex design components..</p>
                <a href="#" class="getStarted">Get Started</a>
            </div>
            <div class="right">
                <div class="payment-form">
                    <h3>Quick Request</h3>
                    <form class="quickpay">
                    <input type="text" placeholder="Enter 10 digits Account Number">
                    <input type="text" name="" id="" placeholder="Select Bank">
                    <a href="#">Next</a>
                    </form>
                </div>
                <!-- <img src="./assets/techgear.webp" alt=""> -->
                <!-- <h1>learn more</h1> -->
            </div>
        </div>
    </div>

    <div class="main">
        <div class="leads">
            <div class="lead-left">
                <h1>Leads</h1>
                <p>What do you know about lead components?...
                    <br>Look to your right and explore our beautiful simple lead.
                </p>
            </div>
            <div class="lead-box">
                <div class="lead-title">How about today?</div>
                <p>
                    Finding a pattern is so traditional related. But let's not talk about that.
                    Have you heard the other side of the story ?. My brother, you can't really tell.
                    And even though you want to start to take side, how can you be able to know who is saying the truth?.
                    And don't get me wrong, you might be so surprise that both of them are even confused, they are just looking for who to confuse. go your house.
                </p>
            </div>
        </div>
        <div class="gallery">
            <div class="slider">
            <div class="images">
                <input type="radio" name="slide" id="img1" checked>
                <input type="radio" name="slide" id="img2">
                <input type="radio" name="slide" id="img3">
                <img src="../assets/images/bg.png" class="m1" alt="img1">
                <img src="../assets/images/bg1.jpeg" class="m2" alt="img2">
                <img src="../assets/images/sealaptop.jpeg" class="m3" alt="img3">
            </div>
            <div class="dots">
                <label for="img1"></label>
                <label for="img2"></label>
                <label for="img3"></label>
            </div>
        </div>
        </div>
        <div class="pay-bills">
            <h1>Pay Bills Today</h1>
        </div>
    </div>
    <script src="../script.js"></script>
</body>
</html>