<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/assets/style.css">
   
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <!-- <script src="sweetalert2.all.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <!-- <h1>Welcome to your dreams</h1> -->
    <div class="signIn-Form">
        <div class="top">
            <h1>sign up</h1>
        </div>
        <form action="">
            <label for="">Full Name</label>
            <input type="text" name="" id="fullname" placeholder="Enter fullname">
            <label for="">Email</label>
            <input type="text" name="" id="email" placeholder="Enter email">
            <label for="">Phone Number</label>
            <input type="text" name="" id="phone" placeholder="Enter phone">
            <label for="">password</label>
            <input type="text" name="" id="password" placeholder="Enter password">
            <button id="signinbtn" class="signinBtn">submit</button>
        </form>

        <div class="bottom">
            <a href="#">forgot password?</a>
        </div>
    </div>

    <script>
        $(document).ready(()=>{
            let signinBtn = document.getElementById("signinbtn")
            signinBtn.addEventListener('click', (e)=>{
                e.preventDefault();
                // let error = [];
                let fullname = $("#fullname").val();
                let email = $("#email").val();
                let phone = $("#phone").val();
                let password = $("#password").val();
                if (fullname == '') {
                    // alert('Fullname can not be empty')
                    Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Sorry, full name can not be empty",
                    footer: '<a href="#">Why do I have this issue?</a>'
                    });
                }else{
                    let userInputs = {fullname: fullname, email: email, phone: phone, password: password}
                    $.ajax({
                        method: 'POST',
                        url:'/register',
                        data: userInputs,
                        success: function(response){
                            console.log(response)
                        }
                    })
                }

            });
        })
       
    </script>
</body>
</html>