<div class="header">
    <div class="header-top">
        <div class="logo-area">
            <a href="#">Middo</a>
        </div>
        <ul>
            <li><a href="#">Products</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="/register">Login</a></li>
            <li><a class="donorBtn" href="#">Donations</a></li>
        </ul>

        <div class="menuIcon" id="toggleNav">
            <div class="lines"></div>
            <div class="lines"></div>
            <div class="lines"></div>
        </div>
    </div>

    <div class="header-mini-top" id="miniTop">
        <div class="logo-area">
            <a href="#">Middos</a>
        </div>
        <ul>
            <li><a href="#">Products</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Education</a></li>
            <li><a href="/register">Login</a></li>
            <li><a class="donorBtn" href="#">Donations <i class="fa fa-twitter"></i> </a></li>
        </ul>
        
    </div>

    <div class="header-contents">
        <div class="left">
            <h2 class="title">Middo| Hybrid-Softwares API<span style="text-transform: lowercase;">s</span></h2>
            <p>Meet your needs today</p>
            <p>This application is design to provide web pages components from basic to most complex design components..</p>
            <a href="#" class="getStarted">Get Started</a>
        </div>
        <div class="right">
            <div class="payment-form">
                <h3>Quick Request</h3>
                <form class="quickpay">
                <input type="text" placeholder="Enter 10 digits Account Number">
                <input type="text" name="" id="" placeholder="Select Bank">
                <a href="#">Next</a>
                </form>
            </div>
            <!-- <img src="./assets/techgear.webp" alt=""> -->
            <!-- <h1>learn more</h1> -->
        </div>
    </div>
    
</div>